<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Registro de Paciente - DocTrack</title>
  <link rel="stylesheet" href="css/Pac.css" />
    <!-- Ionicons desde CDN PERMITIDO por tu CSP -->
  <script type="module" src="https://cdn.jsdelivr.net/npm/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://cdn.jsdelivr.net/npm/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>
<body>
  <header>
    <img src="img/Captura_de_pantalla_2024-10-15_010848-removebg-preview.png" alt="DocTrack Logo">
  </header>

  <div class="container">
    <h2>Bienvenidos A DocTrack</h2>
    <div class="bs">
      <div class="formu">
        <button class="info-button" id="toggleBtn">Información Personal</button>
        <div class="form-container" id="formPersonal">
          <input id="nombre" type="text" placeholder="Nombre(s)">
          <input id="paterno" type="text" placeholder="Apellido Paterno">
          <input id="materno" type="text" placeholder="Apellido Materno">
          <input id="curp" type="text" placeholder="CURP">
          <input id="nacimiento" type="date" placeholder="Fecha de nacimiento">
          <input id="correo" type="email" placeholder="Correo electrónico">   
          <input id="password" type="password" placeholder="Contraseña">
          <input id="confirmar" type="password" placeholder="Confirmar contraseña">
          <button id="registrarBtn" class="btn">Registrarse</button><br>
        </div>
      </div>
    </div>

    <a href="index.html">
      <div class="reg">
        <h3>Regresar</h3>
      </div>
    </a>
  </div>

  <script type="module" src="js/Pac-seguridad.js"></script>
  <script src="js/pac.js"></script>
 
</body>
</html>
