<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paciente-Principal</title>
    <link rel="stylesheet" href="css/Paciente.css">
      <!-- Ionicons desde CDN PERMITIDO por tu CSP -->
  <script type="module" src="https://cdn.jsdelivr.net/npm/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://cdn.jsdelivr.net/npm/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>
<body>
    <header>
        <div class="head">
            <div class="Ima">
                <img src="img/Solo-Logo.png" alt="">
            </div>
            <div class="tex">
              <h1>Bienvenido</h1>
                <h2 class="un">Pagina-Principal</h2>
                <a href="Cita.html"><h2 class="hov">Pedir una Cita</h2></a>
                <a href="Seg.html"><h2>Seguimiento</h2></a>
            </div>
             <button id="logoutBtn"><h3>Cerrar sesión</h3></button>
        </div>
    </header>
   <div class="bs">
  <div class="sec1">
    <a href="Chat.html" class="chat">Consultar Chat</a>
  </div>
  <div class="sec2">
  <div class="campo">
    <label for="tratamientoField">Tratamiento</label>
    <input id="tratamientoField" type="text" class="info-field" readonly />
  </div>
  <div class="campo">
    <label for="horaField">Hora de tratamiento</label>
    <input id="horaField" type="text" class="info-field" readonly />
  </div>
  <div class="campo">
    <label for="proximaField">Próxima cita</label>
    <input id="proximaField" type="text" class="info-field" readonly />
  </div>
</div>

</div>

<script type="module" src="js/Paciente-seguridad.js"></script>





</body>
</html>